@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback");

@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/flatpickr.css";

@import "tailwindcss/utilities";

.text-rich-editor .ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  width: 100%;
  max-width: 100%;
}

.text-rich-editor .ql-container {
  height: 200px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 640px) {
  .text-rich-editor .ql-container {
    height: 250px;
    max-height: 250px;
  }
}

@media (min-width: 1024px) {
  .text-rich-editor .ql-toolbar,
  .text-rich-editor .ql-container {
    max-width: 500px;
  }
}
